$white: #fff;
$black:#353535;
$main_color:#73C5F9;
$hover_mc: #468db9;
$accent_color:#5EDD8E;
$hover_ac:#58c380;

$warning_color:#B95000;
$warning_bg:#FEF5EB;
$warning_border:#f1bf98; 

$danger_color:#b90000;
$danger_bg:#feebeb;
$danger_border:#f19898; 

$success_color:#0fb900;
$success_bg:#ebfeec;
$success_border:#98f19d; 