.error_info {
    text-align: right;
    direction: rtl;
    width: 100%;
    height: 0px;
    border-radius: 15px;
    padding: 0px 20px;
    margin: 0;
    @include transition (0.2s , linear , 0s);
    opacity: 0;
    overflow: hidden;
    position: relative;

    i {
        position: relative;
        top: 2px;
        font-size: 1.1rem;
        margin-left: 6px;
    }

    p{
        width: max-content;
        padding-left: 30px;
        margin: 0;
    }

    & :last-child {
        position: absolute;
        left: 10px;
        top: 14px;
        cursor: pointer;
        font-size: 1rem;
    }
}

.warning_error{
    background-color: $warning_bg;
    color: $warning_color;
    border: 1px solid $warning_border;
}

.danger_error{
    background-color: $danger_bg;
    color: $danger_color;
    border: 1px solid $danger_border;
}

.success_error{
    background-color: $success_bg;
    color: $success_color;
    border: 1px solid $success_border;
}


.error_d_none{
    display: none;
}

.error_disable{
    opacity: 0;
}

.error_d_block{
    display: flex;
}

.error_active {
    opacity: 1;
    height: auto;
    padding: 10px 20px;
}
