
$AF : accent_font;
$TF : Thin_font;

body{
    font-family: $TF;
}

@font-face {
    font-family: $AF;
    src: url("../../fonts/Vazir.ttf");
}

@font-face {
    font-family: $TF;
    src: url("../../fonts/Vazir-Thin.ttf");
}