// uploader

.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 1.3px solid #d6d6d6;
    ;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    color: #888888;
    border-color: #888888;
}

.input-file-custom {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file-custom+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;

}

.input-file-custom+.js-labelFile .icon:before {
    content: "\f093";
}

.input-file-custom+.js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B;
}

.box_of_img_template {
    border-radius: 6px;
    background: #F3F6F9;
    ;
    position: relative;
}

.btn-tertiary2 {
    font-size: 0.9rem;
    color: #555;
    padding: 0;
    line-height: 110px;
    width: 100%;
    display: block;
    border: 1.3px solid #d6d6d6;
    height: 100%;
    font-size: 0.7rem;
}

.btn-tertiary2:hover,
.btn-tertiary2:focus {
    color: #888888;
    border-color: #888888;
}

.remove_img_icon {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    position: absolute;
    z-index: 50;
    top: -10px;
    border-radius: 50px;
    cursor: pointer;
    right: -13px;
    box-shadow: 0px 0px 10px -3px #515151;
}

.remove_img_icon::before,
.remove_img_icon::after {
    content: "";
    width: 1.5px;
    height: 13px;
    background-color: #909090;
    position: absolute;
    @include transform(rotate(45deg));
    right: 11.8px;
    top: 5px;
}

.remove_img_icon::after {
    @include transform(rotate(-45deg));
}

.uploading_img_from_brows {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    border-radius: 7px;
}

#profile{
    div{
        background-color: #1B1B28;
        border-right: 3px solid #3699FF;
        p{
            color: white;
        }
        i{
            color: #3699FF;
        }
    }
}

.add_img_icon {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    position: absolute;
    z-index: 50;
    top: 20px;
    border-radius: 50px;
    cursor: pointer;
    right: -13px;
    box-shadow: 0px 0px 10px -3px #515151;

    &::before {
        content: "";
        width: 1.5px;
        height: 13px;
        background-color: #909090;
        position: absolute;
        @include transform(rotate(45deg));
        right: 9px;
        top: 7px;
    }

    &::after {
        content: "";
        width: 1.5px;
        height: 6px;
        background-color: #909090;
        position: absolute;
        @include transform(rotate(-45deg));
        right: 15.3px;
        top: 12.2px;
    }
}

.option-input {
    top: 0.8rem;
}