@import '../partials/color';
@import '../partials/font';
@import '../partials/mixin';
@import '../partials/select';
@import '../partials/tags';
@import '../partials/file-uploader';

.profile_inp_field {
    .main_field_of_profile {
        width: 100%;
        padding: 50px 50px;
        background-color: $white;
        margin: 30px 0px;
        border-radius: 15px;
        width: 80%;
        margin-left: 10%;

        h1 {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            direction: rtl;
            margin-bottom: 30px;
        }

        form {
            direction: rtl;
            text-align: right;

            .profile_sub {
                background-color: $accent_color;
                width: 100%;
                margin-top: 20px;
                color: $white;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 10px 30px;
                border-radius: 50px;
                @include transition(0.2s, linear, 0s);

                &:hover {
                    background-color: $hover_ac;
                }
            }
        }
    }
}

.show {
    display: inline-block !important;
}

.profile_wc {
    .WC_dropdown {
        width: 49%;
        margin-right: 0;

        label {
            width: 100%;
            text-align: right;
            font-weight: normal;
            font-family: $TF;
        }

        .select_click {
            height: 36px;
            position: absolute;
            top: 33px;
            z-index: unset;
        }

        .WCD_optopn {
            top: 70px;
            width: 100%;
        }

        .WCD_title {
            width: 100%;
        }
    }
}

.chose_file_inp{
    border: 2px dashed #CED4DA;
    &:hover{
        border: 2px dashed $main_color;
    }
}

.chose_file_inp:before {
    top: 3px;
}