@import '../../partials/color';
@import '../../partials/font';
@import '../../partials/mixin';

.WC_dropdown{
    p{
        background-color: white;
        border-radius: 15px;
        border: 1px solid #CED4DA;
    }
}

.WC_dropdown .WCD_title {
    border: none;

    i{
        top: 13px;
    }
}

.index_field {
    width: 100%;
    text-align: center;
    direction: rtl;

    .index_logo {
        width: 220px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .index_search {
        width: max-content;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        .search_index_inp {
            border-radius: 15px 0px 0px 15px !important;
            border-right: 0;
            width: 300px;
        }

        .search_index_button {
            border-radius: 0px 15px 15px 0px;
            background-color: $white;
            border-left: 0;

            button {
                padding: 0;
                height: 24px;
            }
        }
    }

    h1 {
        font-weight: bold;
        font-size: 1.8rem;
        width: max-content;
        margin: 0 auto;
        margin-top: 50px;
        color: #3d3d3d;
    }

    .h1BB {
        width: 200px;
        height: 1px;
        background: #c5c5c5;
        display: block;
        margin: 20px auto;
    }

    .full_description {
        text-align: center;
        color: #626262;
        width: 70%;
        margin-right: 15%;
        line-height: 28px;
        margin-top: 5px;
    }

    .icon_field {
        margin-top: 35px;
        display: flex;
        width: 70%;
        margin-right: 15%;
        background-color: $white;
        border-radius: 15px;
        padding: 40px 0px;
        box-shadow: 0px 6px 10px 0px #00000030;

        div {
            width: 33.33%;

            img {
                width: 60px;
                margin-bottom: 30px;
            }

            p {
                width: 280px;
                margin: 0 auto;
            }
        }
    }
}




