
    <script src="js/general/jquery.js"></script>
    <script src="js/general/popper.js"></script>
    <script src="js/general/bootstrap.js"></script>
    <script src="js/general/vue.js"></script>
    <script src="js/general/wow.js"></script>
</body>
</html>