<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general/bootstrap.css">
    <link rel="stylesheet" href="css/general/animate.css">
    <link rel="stylesheet" href="css/general/fontAwsome.css">
    <link rel="stylesheet" href="css/general/general.css">
    <link rel="stylesheet" href="css/layout/layout.css">
    <title>whoopie</title>
</head>
<body>
    
    
    <script src="js/general/jquery.js"></script>
    <script src="js/general/popper.js"></script>
    <script src="js/general/bootstrap.js"></script>
    <script src="js/general/vue.js"></script>
    <script src="js/general/wow.js"></script>
</body>
</html>