@import '../partials/color';
@import '../partials/font';
@import '../partials/mixin';
@import '../partials/bugs-report';

.main_field_of_profile {
    width: 100%;
    padding: 30px;
    background-color: $white;
    margin: 30px 0px;
    border-radius: 15px;
    direction: rtl;
    text-align: right;
    position: relative;

    .profile_header {
        width: 100%;
        position: relative;

        .user_img {
            margin: 0px auto;
            width: 200px;
            text-align: center;

            img {
                width: 120px;
                height: 120px;
                border-radius: 500px;
                border: 3px solid $main_color;
            }

            div {
                & :first-child {
                    margin: 0;
                    margin-top: 15px;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .about_me {
        text-align: right;
        direction: rtl;
        line-height: 28px;
        margin-top: 25px;

        p {
            display: inline-block;

            span {
                display: inline-block;
                font-weight: bold;
            }
        }

    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        p {
            width: 49%;
        }

        h3 {
            width: 100%;
            font-weight: bold;
            font-size: 1.1rem;
        }

        a {
            width: 49%;
            color: black;
            margin-top: 10px;

            i {
                color: $main_color;
                font-size: 1.1rem;
                margin-left: 10px;
            }
        }
    }

    .user_ads {
        h3 {
            width: 100%;
            font-weight: bold;
            font-size: 1.1rem;
        }

        a {
            width: max-content;
            padding: 5px 10px;
            text-align: right;
            direction: rtl;
            display: flex;
            flex-wrap: wrap;


            div {
                border-radius: 26px;
                background: #f2f2f2;
                padding: 3px 12px;
                color: #838383;
                padding-top: 6px;
            }

            p {
                margin: 0;
                margin-right: 10px;
                position: relative;
                top: 5px;
                font-family: $AF;
                color: $main_color;

                &:hover {
                    color: $hover_mc;
                }
            }
        }
    }
}

.prodile_option {
    position: absolute;
    left: 20px;
    top: 20px;

    button {
        font-size: 1.3rem;
        padding: 0;

        &:nth-child(3) {
            a{
                color: #73c6f96e;

                &:hover {
                    color: #73C5F9;
                }
            }
        }

        &:nth-child(2) {
            color: #73c6f96e;
            margin-left: 12px;

            &:hover {
                color: #73C5F9;
            }
        }

        &:nth-child(1) {
            color: #ff71716c;
            margin-left: 12px;

            &:hover {
                color: #ff7171;
            }
        }
    }
}