@media only screen and (min-width: 1300px) {

    #bug_modal .main_field_of_debug_modal {
        width: 70%;
        margin-left: 15%;
    }

    .sandwich_nav {
        display: none;
    }

}

@media only screen and (max-width: 1400px) {

    #bug_modal .main_field_of_debug_modal {
        width: 80%;
        margin-left: 10%;
    }

    .sandwich_nav {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {

    #bug_modal .main_field_of_debug_modal {
        width: 100%;
        margin-left: 0%;
    }

}

@media only screen and (max-width: 1100px) {

    nav .main_field_of_navbar .midle_field .search_nav input {
        width: 200px;
    }
}

@media only screen and (max-width: 1000px) {

    .main_field_of_SN .SN_user_image img {
        height: 90px;
    }

    nav .main_field_of_navbar .right_field {
        display: none;
    }

    nav .main_field_of_navbar .midle_field {
        display: none;
    }

    .sandwich_nav {
        display: block;
    }

    .main_field_of_SN {
        display: block;
    }

    nav {
        height: 60px;
    }

    .sandwich_nav {
        position: absolute;
        right: 30px;
        top: -5px;
    }

    nav .rep_field {
        position: absolute;
        right: 80px;
        top: -6px;
        font-size: 1.4rem;
        color: #73C5F9;
    }

    nav .left_field_navbar img {
        position: relative;
        top: -3px;
        width: 40%;
    }

    .WC_dropdown .WCD_optopn span {
        padding: 0px 0px;
    }

}

@media only screen and (max-width: 992px) {

    #bug_modal .main_field_of_debug_modal {
        width: 80%;
        margin-left: 10%;
    }

}

@media only screen and (max-width: 850px) {

    #bug_modal .main_field_of_debug_modal {
        width: 90%;
        margin-left: 5%;
    }

    #bug_modal .main_field_of_debug_modal h3 {
        font-size: 1.2rem;

        span {
            font-size: 1.4rem;
        }
    }

    #bug_modal .main_field_of_debug_modal .bug_sub {
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 768px) {

    #bug_modal .main_field_of_debug_modal {
        width: 80%;
        margin-left: 10%;
    }

    .footer_info p {
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 630px) {

    #bug_modal .main_field_of_debug_modal {
        width: 90%;
        margin-left: 5%;
    }

    .footer_info p {
        font-size: 0.85rem;
    }

}

@media only screen and (max-width: 500px) {

    .main_field_of_SN .SN_user_image p {
        font-size: 1.1rem;
    }

    .main_field_of_SN .SN_option li {
        height: 40px;
        font-size: 0.9rem;
    }

    .main_field_of_SN .SN_option li a {
        line-height: 46px;
    }

    .main_field_of_SN .SN_option #SV_S p {
        line-height: 40px;
    }

}

@media only screen and (max-width: 430px) {

    #bug_modal .main_field_of_debug_modal {
        width: 100%;
        margin-left: 0%;
        padding: 35px;
    }

    #bug_modal .main_field_of_debug_modal h3 {
        line-height: 30px;
        font-size: 1rem;

        span {
            font-size: 1.2rem;
        }
    }

    #bug_modal .main_field_of_debug_modal .bug_sub {
        font-size: 1rem;
    }

    #bug_modal .main_field_of_debug_modal i {
        top: 15px;
        right: 18px;
        font-size: 1.4rem;
    }

}