@import '../partials/color';
@import '../partials/font';
@import '../partials/mixin';
@import '../partials/select';
@import '../partials/errors';
@import '../partials/modals';

$inpBorderRad: 15px;

body {
    margin-bottom: 50px;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
    position: relative;
}

// footer
footer {
    position: absolute;
    bottom: -20px;
    width: 100%;
}

.footer_info {
    width: 100%;
    text-align: center;
    direction: rtl;

    p {
        color: #989898;
        margin: 0;
    }

}

// navbar custom
nav {
    width: 100%;
    height: 80px;
    background-color: $white;
    padding-top: 20px;

    .main_field_of_navbar {
        position: relative;
        width: 100%;

        .midle_field {
            margin: 0 auto;
            direction: rtl;
            text-align: right;
            width: max-content;
            display: flex;

            .category_nav {
                margin-right: 10px;

                select {
                    border-radius: $inpBorderRad;
                }
            }

            .city_nav {
                margin-right: 10px;

                select {
                    border-radius: $inpBorderRad;
                }
            }

            .search_nav {
                margin-right: 10px;

                input {
                    border-radius: $inpBorderRad 0px 0px $inpBorderRad !important;
                    border-right: 0;
                    width: 300px;
                }

                button {
                    padding: 0;
                    height: 24px;
                }

                span {
                    border-radius: 0px $inpBorderRad $inpBorderRad 0px;
                    background-color: $white;
                    border-left: 0;
                }
            }
        }

        .right_field {
            position: absolute;
            right: 20px;
            top: -10px;
            direction: rtl;
            text-align: right;

            .profile_field {
                cursor: pointer;
                position: relative;

                #show_AP03 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    z-index: 100;
                }

                img {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    border-radius: 50px;
                }

                p {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 0;
                    font-weight: bold;
                }

                i {
                    display: inline-block;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }
            }

            .profile_dropown {
                display: none;
                direction: rtl;
                text-align: right;
                width: 200px;
                background-color: $white;
                border-radius: 15px;
                position: relative;
                top: 20px;
                overflow: hidden;

                a {
                    display: block;
                    color: $black;
                    padding: 10px 22px 10px 22px;
                    margin: 0;
                    font-size: 0.9rem;

                    &:hover {
                        background-color: #f5f5f5;
                    }

                    i {
                        margin-left: 10px;
                        color: $main_color;
                        font-size: 01rem;
                    }
                }
            }
        }
    }

    .left_field_navbar {
        position: absolute;
        left: 20px;
        top: -4px;

        img {
            width: 50%;
        }
    }
}



#nav_LR {
    top: 5px;
    right: 30px;

    a {
        color: black;
        font-weight: bold;

        span {
            color: $main_color;
        }
    }
}

// repost modal
.report_bug {
    cursor: pointer;
}

#bug_modal {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000000000000;

    .row {
        height: 100vh;
    }

    .main_field_of_debug_modal {
        width: 100%;
        padding: 50px;
        background-color: $white;
        border-radius: 15px;
        direction: rtl;
        text-align: right;
        position: relative;

        i {
            position: absolute;
            top: 20px;
            right: 25px;
            font-size: 1.6rem;
            color: #878787;
            cursor: pointer;
        }

        h3 {
            text-align: center;
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 45px;

            span {
                color: $main_color;
                font-size: 2rem;
            }
        }

        .bug_sub {
            background-color: #FF7A7A;
            width: 100%;
            margin-top: 20px;
            color: $white;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 10px 30px;
            border-radius: 50px;
            @include transition(0.2s, linear, 0s);

            &:hover {
                background-color: #C02F2F;
            }
        }
    }
}

// sandwich nav bar
.sandwich_nav {
    position: absolute;
    right: 30px;
    top: 8px;

    i {
        color: rgb(94, 94, 94);
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.SN_layout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 998;
    display: none;
    @include transition(0.5s, linear, 0s);
}

.main_field_of_SN {
    overflow: auto;
    width: 300px;
    height: 100vh;
    right: -300px;
    position: fixed;
    top: 0px;
    background-color: #2a2a2a;
    z-index: 999;
    @include transition(0.5s, cubic-bezier(0, 0, 0.2, 1), 0s);

    .fa-times {
        color: white;
        font-size: 1.4rem;
        position: absolute;
        left: 20px;
        top: 16px;
        cursor: pointer;
    }

    .SN_user_image {
        img {
            width: 30%;
            margin-left: 35%;
            margin-top: 20px;
            border-radius: 500px;
        }

        p {
            color: $white;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-top: 20px;
            font-size: 1.3rem;
        }
    }

    .SN_option {
        direction: rtl;
        text-align: right;
        list-style-type: none;
        padding: 0;

        li {
            width: 100%;
            height: 50px;
            color: $white;
            line-height: 50px;
            font-size: 1.1rem;
            padding-right: 30px;

            &:hover {
                background-color: rgb(58, 58, 58);
            }

            i {
                margin-left: 15px;
            }

            a {
                color: $white;
                line-height: 50px;
                width: 100%;
                display: block;

                i {
                    margin-left: 15px;
                }
            }
        }

        #SV_S {
            cursor: pointer;

            p {
                width: max-content;
                cursor: pointer;
                line-height: 50px;
            }
        }
    }

    .search_option {
        height: max-content !important;
        padding-left: 30px;
        max-height: 0;
        overflow: hidden;
        @include transition(0.2s, ease-out, 0s);

        &:hover {
            background-color: transparent !important;
        }

        .WC_dropdown {
            width: 100%;
            margin: 0;

            .WCD_title {
                height: 38px;
                width: 100%;
                color: $white;
                cursor: pointer;
                background-color: rgb(65, 65, 65);
                border: none;
            }

            .WCD_optopn {
                width: 100%;

                div {
                    max-height: 200px;
                }
            }
        }

        .submit_SV {
            width: 100%;
            height: 40px;
            color: white;
            background-color: $main_color;
            border-radius: 500px;
            margin-bottom: 20px;
        }

        .SN_inp {
            width: 100% !important;
            border-right: 0;
            width: 300px;
            background-color: rgb(65, 65, 65);
            color: $white;
            border: none;
            margin-bottom: 18px;
            font-size: 0.9rem;
            margin-top: 20px;

            &::placeholder {
                color: white !important;
                text-align: center;
            }
        }
    }
}

.show_SN {
    right: 0px;
}

.show_layer {
    display: block;
    opacity: 0.3;
}

.change_background{
    background-color: #3A3A3A;
}

.login_SN{
    cursor: pointer;

    span{
        color: $main_color;
        font-weight: bold;
    }
}