@import '../partials/color';
@import '../partials/font';
@import '../partials/mixin';

$inpBorderRad: 15px;

body {
    background-image: url(../../img/AB00.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    width: 100%;
    height: 80px;
    background-color: $white;
    padding-top: 20px;

    .main_field_of_navbar {
        position: relative;
        width: 100%;

        .midle_field {
            margin: 0 auto;
            direction: rtl;
            text-align: right;
            width: 583px;

            .category_nav {
                display: inline-block;
                margin-right: 10px;

                select {
                    border-radius: $inpBorderRad;
                }
            }

            .city_nav {
                display: inline-block;
                margin-right: 10px;

                select {
                    border-radius: $inpBorderRad;
                }
            }

            .search_nav {
                display: inline-block;
                margin-right: 10px;

                input {
                    border-radius: $inpBorderRad 0px 0px $inpBorderRad;
                    border-right: 0;
                    width: 300px;
                }

                button {
                    padding: 0;
                    height: 24px;
                }

                span {
                    border-radius: 0px $inpBorderRad $inpBorderRad 0px;
                    background-color: $white;
                    border-left: 0;
                }
            }
        }

        .right_field {
            position: absolute;
            right: 20px;
            top: -10px;
            direction: rtl;
            text-align: right;

            .profile_field{
                #show_AP03{
                    cursor: pointer;
                }
                img {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    border-radius: 50px;
                }
    
                p {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 0;
                    font-weight: bold;
                }
    
                i {
                    display: inline-block;
                    margin-right: 5px;
                    position: relative;
                    top: 5px;
                }
            }
            .profile_dropown{
                display: none;
                direction: rtl;
                text-align: right;
                width: 200px;
                background-color: $white;
                border-radius: 15px;
                position: relative;
                top: 20px;
                overflow: hidden;
                a{
                    display: block;
                    color: $black;
                    padding: 10px 22px 10px 22px;
                    margin: 0;
                    &:hover{
                        background-color: #f5f5f5;
                    }
                    i{
                        margin-left: 10px;
                        color: $main_color;
                    }
                }
            }
        }
    }
}

.footer_info {
    width: 100%;
    text-align: center;
    direction: rtl;

    p {
        color: #989898;
        margin: 0;
    }
}