@media only screen and (max-width: 992px) {

    .main_field_of_watch .contact_ways a {
        width: 100%;
    }

}

@media only screen and (max-width: 1400px) {

    #ads_bug .main_field_of_AR {
        width: 80%;
        margin-left: 10%;
    }
}


@media only screen and (max-width: 1200px) {

    #ads_bug .main_field_of_AR {
        width: 100%;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 992px) {

    #ads_bug .main_field_of_AR {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 850px) {

    #ads_bug .main_field_of_AR {
        width: 90%;
        margin-left: 5%;
    }

    #ads_bug .main_field_of_AR h3 {
        font-size: 1.2rem;

        span {
            font-size: 1.4rem;
        }
    }

    #ads_bug .main_field_of_AR .bug_sub {
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 768px) {

    #ads_bug .main_field_of_AR {
        width: 80%;
        margin-left: 10%;
    }

}

@media only screen and (max-width: 630px) {

    #ads_bug .main_field_of_AR {
        width: 90%;
        margin-left: 5%;
    }

}

@media only screen and (max-width: 430px) {

    #ads_bug .main_field_of_AR {
        width: 100%;
        margin-left: 0%;
        padding: 35px;
    }

    #ads_bug .main_field_of_AR h3 {
        line-height: 30px;
        font-size: 1rem;

        span {
            font-size: 1.2rem;
        }
    }

    #ads_bug .main_field_of_AR .bug_sub {
        font-size: 1rem;
    }

    #ads_bug .main_field_of_AR i {
        top: 15px;
        right: 18px;
        font-size: 1.4rem;
    }

}